html,body {
  width: 100%;
  height: 100%
}

input::-ms-clear,input::-ms-reveal {
  display: none
}

*,*:before,*:after {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}

@-ms-viewport {
  width: device-width
}

body {
  margin: 0
}

[tabindex="-1"]:focus {
  outline: none
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 500
}

p {
  margin-top: 0;
  margin-bottom: 1em
}

abbr[title],abbr[data-original-title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: 0;
  cursor: help
}

address {
  margin-bottom: 1em;
  font-style: normal;
  line-height: inherit
}

input[type=text],input[type=password],input[type=number],textarea {
  -webkit-appearance: none
}

ol,ul,dl {
  margin-top: 0;
  margin-bottom: 1em
}

ol ol,ul ul,ol ul,ul ol {
  margin-bottom: 0
}

dt {
  font-weight: 500
}

dd {
  margin-bottom: .5em;
  margin-left: 0
}

blockquote {
  margin: 0 0 1em
}

dfn {
  font-style: italic
}

b,strong {
  font-weight: bolder
}

small {
  font-size: 80%
}

sub,sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

pre,code,kbd,samp {
  font-size: 1em;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace
}

pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow: auto
}

figure {
  margin: 0 0 1em
}

img {
  vertical-align: middle;
  border-style: none
}

a,area,button,[role=button],input:not([type=range]),label,select,summary,textarea {
  touch-action: manipulation
}

table {
  border-collapse: collapse
}

caption {
  padding-top: .75em;
  padding-bottom: .3em;
  text-align: left;
  caption-side: bottom
}

input,button,select,optgroup,textarea {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit
}

button,input {
  overflow: visible
}

button,select {
  text-transform: none
}

button,html [type=button],[type=reset],[type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none
}

input[type=radio],input[type=checkbox] {
  box-sizing: border-box;
  padding: 0
}

input[type=date],input[type=time],input[type=datetime-local],input[type=month] {
  -webkit-appearance: listbox
}

textarea {
  overflow: auto;
  resize: vertical
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: .5em;
  padding: 0;
  color: inherit;
  font-size: 1.5em;
  line-height: inherit;
  white-space: normal
}

progress {
  vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button
}

output {
  display: inline-block
}

summary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none!important
}

mark {
  padding: .2em;
  background-color: #feffe6
}

*,*:before,*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

@font-face {
  font-family: Nasa;
  src: url(/assets/nasa-32004372.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(/assets/montserrat-regular-a68806f7.otf) format("opentype");
  font-weight: 400;
  font-style: normal
}

html {
  font-size: 100%
}

body {
  background-color: var(--sage);
  color: var(--crimson);
  font-family: Montserrat-Regular,sans-serif!important;
  line-height: 1.6
}

body * {
  font-family: Montserrat-Regular,sans-serif!important
}

#root {
  overflow: hidden
}

a {
  color: var(--crimson);
  text-decoration: none;
  display: inline-flex
}

a:hover,a:focus {
  color: var(--crimson)
}

button {
  background-color: var(--sienna);
  color: var(--cream);
  border: none;
  padding: 25px;
  cursor: pointer;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  box-shadow: 3px 4px 10px #00000026;
  margin: 30px 0
}

ul,ol {
  list-style: none
}

table {
  border-collapse: collapse;
  width: 100%
}

img {
  max-width: 100%;
  height: auto
}

.ant-input-number-outlined,.ant-input-number-outlined:hover,.ant-input-number-outlined:focus,.ant-input-number-outlined:focus-within {
  background: transparent!important;
  border: none!important;
  border-radius: 0!important;
  width: 50px!important;
  border-bottom: 3px solid var(--charcoal)!important;
  font-size: 20px;
  position: absolute;
  bottom: -40px;
  right: 0;
  z-index: 2
}

.ant-input-number-outlined input,.ant-input-number-outlined:hover input,.ant-input-number-outlined:focus input,.ant-input-number-outlined:focus-within input {
  color: var(--charcoal)!important;
  border-bottom: 0!important;
  padding: 0!important
}

input, textarea {
  padding: 10px 0 !important;
  background: transparent !important;
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 2px solid var(--cream) !important;
  font-size: 20px !important;
  caret-color: var(--cream) !important;
  color: var(--cream) !important;
  max-width: 420px;
  outline: none !important;
  width: 100%;
}

input::placeholder,textarea::placeholder {
  color: var(--cream)!important
}

select {
  padding: 5px;
  border-radius: 6px;
  border: 2px solid var(--crimson);
  background: var(--crimson);
  color: #fff
}

select:focus {
  outline: none
}

.header {
  height: 70px;
  width: 100%
}

.catScrollButtonBox {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding: 20px 30px;
  overflow-x: auto;
  margin: 0 -30px
}

.catScrollButtonBox button:not(.active) {
  opacity: .5
}

.list-filter {
  padding: 30px;
  margin-top: 20px
}

.list-filter input {
  width: 100%;
  max-width: 480px!important
}

.list {
  padding: 0 30px 170px;
  max-height: calc(100vh - 260px);
  overflow-y: auto;

  ul a {
    width: 100%;
  }
}

.chord {
  color: var(--cream);
  position: absolute;
  top: -20px
}

.word-container {
  display: inline-block;
  margin-right: 10px;
  position: relative
}

.word {
  color: var(--cream)
}

.line {
  margin-bottom: 25px
}

.lyrics {
  margin-top: 15vw;
  padding-top: 55px !important;
  overflow-y: auto;
  height: 60vh;
  background-color: var(--charcoal);
  padding: 30px;
}

.song-page-container {
  display: flex;
  flex-direction: column;
  align-items: center
}

.song-page-container .song-page-header {
  position: relative;
  width: 292px;
  height: 292px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  margin-bottom: 10px
}

.song-page-container .song-page-header>svg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0
}

.song-page-container .song-page-header h3 {
  color: var(--charcoal);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 85px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 35px
}

.song-page-container .song-page-header h4 {
  color: var(--charcoal);
  font-weight: 400;
  font-size: 16px
}

.scroll-button {
  position: absolute;
  left: 30px;
  top: 20px;
  z-index: 2
}

.scroll-button button {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: transparent!important;
  padding: 0;
  position: absolute;
  top: calc(50% - 12px);
  right: 10px
}

.scroll-button .ant-input-number .ant-input-number-handler-wrap {
  right: 35px
}

#scrollRoll::-webkit-scrollbar {
  display: none
}

#scrollRoll {
  -ms-overflow-style: none;
  scrollbar-width: none
}

.waveButton {
  justify-content: center;
  display: flex;
  border-radius: 100px;
  align-items: center;
  width: 100px;
  height: 100px;
  z-index: 1
}

.toTop {
  z-index: 2
}

.wave {
  position: absolute;
  width: 60%;
  z-index: -1;
  max-width: 220px
}

.wave.top.right {
  top: -1px;
  right: 0;
  transform: rotateX(180deg) rotateY(180deg)
}

.wave.top.left {
  top: -1px;
  left: 0;
  transform: rotateX(180deg)
}

.wave.bottom.right {
  bottom: -1px;
  right: 0;
  transform: rotateY(180deg)
}

.wave.bottom.left {
  bottom: -1px;
  left: 0
}

.songInfoBox {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 20px;
}

.songInfoBox .songInfo {
  color: var(--cream);
  font-size: 14px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100vw - 225px)
}

.songInfoBox .songInfo.songTitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px
}

.song-list-icon {
  width: 20vw;
  min-width: 100px;
  max-width: 200px
}

.waveCont {
  position: fixed;
  width: 100%
}

.waveCont.top {
  top: -1px
}

.waveCont.left {
  left: 0
}

.waveCont.bottom {
  bottom: -1px
}

.waveCont.right {
  right: 0
}

.bg-wave {
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% + 20px)
}

.lyricsCont {
  position: relative;
  width: 100%
}

.add-song {
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 130px 30px 30px;
  position: relative
}

.add-song > h1 {
  color: var(--cream);
  font-weight: 600;
  position: absolute;
  top: -30px;
  right: 15px;
  font-size: 16px;
  max-width: 45vw;
  letter-spacing: 1px;
  line-height: 22px;
}

.add-word-box {
  display: inline-block;
  margin-right: 10px
}

.add-line {
  margin-bottom: 20px;
  color: var(--cream);
  font-size: 18px;
  position: relative
}

.add-chord {
  color: #000;
  position: absolute;
  top: -20px
}

.add-chord-input {
  position: absolute;
  top: -55px;
  width: 100px;
  background: var(--charcoal)!important;
  border-radius: 10px!important;
  padding: 5px 10px!important
}

.home-bg-wave {
  position: absolute;
  z-index: -1;
  top: -28vw;
  width: 100%
}

.playButton {
  background: transparent;
  box-shadow: none;
  padding: 0;
  width: max-content;
  height: max-content;
  margin: 0
}

.parsed-lyrics {
  margin-top: 40px
}

li {
  list-style: none;
  width:100%;
  transition: transform .3s ease-out
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
  color: var(--charcoal);
  font-weight: 600;
  text-transform: uppercase;
  width: 75vw;
  height: 75vw;
  justify-content: end;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  background: transparent
}

.popup .button-group {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -6%;
}

.popup p {
  margin: 0 0 15px;
  text-align: center;
  position: absolute;
  top: 45%;
  max-width: 70%;
  background: var(--cream);
  font-size: 13px;
}

.popup-back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background: #00000078;
}

span.delete-popup {
  width: 100%
}

.bg-sienna {
  background-color: #8c5b3b!important;
  color: #fef1de!important
}

.bg-charcoal {
  background-color: #242424!important;
  color: #fef1de!important
}

.bg-terracotta {
  background-color: #b46e4c!important;
  color: #fef1de!important
}

.bg-cream {
  background-color: #fef1de!important;
  color: #64826a!important
}

.bg-sage {
  background-color: #64826a!important;
  color: #fef1de!important
}

.tc-sienna {
  color: #8c5b3b!important
}

.tc-charcoal {
  color: #242424!important
}

.tc-terracotta {
  color: #b46e4c!important
}

.tc-cream {
  color: #fef1de!important
}

.tc-sage {
  color: #64826a!important
}

.flying {
  position: absolute;
  top: -10px;
  
  input {
    width: 80px;
    margin-right: 5px;
    background: rgba(254, 241, 222, 0.5411764706) !important;
    color: var(--charcoal) !important;
    caret-color: var(--charcoal) !important;
    border-radius: 8px !important;
    padding: 5px 10px !important;
    z-index: 10;
    position: relative;
    height: 29px;
    padding-right: 35px !important;
  }
  button {
    z-index: 10;
    position: absolute;
    right: 0;
    background-color: var(--sienna) !important;
    color: var(--cream) !important;
  }
}

button.small,
button.small:hover {
  background-color: var(--cream);
  color: var(--sage);
  border: none;
  padding: 2px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  width: max-content;
  height: max-content;
  box-shadow: none;
  opacity: 1;
  margin: 0;
  text-wrap: nowrap;
  box-shadow: 1px 2px 3px #00000069;
} 

:root {
  --sienna: #8C5B3B;
  --charcoal: #242424;
  --terracotta: #B46E4C;
  --cream: #FEF1DE;
  --sage: #64826A
}

// Desktop adaptation
@media (width > 480px) {
  .list ul {
      display: flex;
      flex-wrap: wrap;

      a {
        width: inherit;
      }

      li {
          width: max-content
      }
  }

  .song {
      flex-direction: column;
      width: min-content;
      align-items: center;
  }

  .songInfoBox {
    width: 100%;
  }
}
